.ideaList{
    border: 7px solid #fa206e;
    border-radius: 55px;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30em;
    background-color: whitesmoke;
}
.comment{
    border: none;
    border-radius: 15px;
    padding: 1px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10;
    background-color: pink;
}
#addIdeaButton,#myProfileButton{
    margin-top: 10 ;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    border-radius: 12px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    margin-left: 20%;
    margin-right: 20%;
    background-image: url('background.jpg');
}

